<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{% static 'images/favicon/favicon-32x32.png' %}"
        />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <title>Minimals</title>
</head>
<body>
    <section class="home">
        <header class="wrapper">
            <h1 class="left">
                <a href="#"><img src="{% static 'images/brand/logo_single.svg' %}" alt="Logo" /></a>
                <p class="version">v2.6.0</p>
            </h1>
            <nav class="right">
                <ul>       
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">Components</a></li>
                    <li><a href="#">Pages<i class="fas fa-angle-down"></i></a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#" class="button">Purchase Now</a></li>           
                </ul>
            </nav>
        </header>

        <section id="spotlight" class="wrapper">
            <section class="content">
                <h1>Start a <br/> new project <br/>with <span>Minimal</span></h1>
                <p>The starting point for your next project based on easy-to-customize Material-UI &copy; helps you build apps faster and better.</p>
                {% for option in options %}
                {% if option.is_active %}
                <a href="#"><img src="{{option.logo_small.url }}" alt="">Preview in {{option.name}} Cloud</a>
                {% endif %}
                {% endfor %}
                <a href="#" class='button'><i class="fas fa-bolt"></i>Live Preview</a>
                <ul>
                    {% for option in options %}
                    <li>
                        <img src="{{option.logo.url}}" alt="logo">
                    </li>
                    {% endfor %}
                </ul>
            </section>   <!-- #spotlight > section.content -->
            <section class="image">
                <img src="{% static 'images/home/hero.png' %}" alt="hero">
            </section> <!-- #spotlight > section.image -->
        </section> <!-- #spotlight -->
    </section> <!-- section.home -->

    <section id="helps" class="wrapper">
        <div class="top">
            <span>MINIMAL</span>
            <h2>What minimal helps you?</h2>
        </div>
        <div class="bottom">
            <ul>
                {% for help in helps %}
                <li>
                    <img src="{{help.image.url}}" alt="{{help.title}}">
                    <h3>{{help.title}}</h3>
                    <p>{{help.description}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section> <!-- #helps -->

    <section id="features">       
            <ul>
                <li class='huge-pack'>
                    <section class="wrapper">
                    <div class="left">
                        <span>INTERFACE STARTER KIT</span>
                        <h2>Huge pack <br/>of elements</h2>
                        <p>We collected most popular elements. Menu, sliders, buttons, inputs etc.are all here. Just dive in!</p>
                        <a href="" class="button">View All Components</a>
                    </div> <!-- #features > section.wrapper > div.left -->
                    <div class="right">
                        <div>
                            <span class="outer">
                                <span class="inner">
                                    <img src="{% static 'images/home/screen_light_1.png' %}" alt="">
                                </span>
                            </span>
                        </div>
                        <div>
                            <span class="outer">
                                <span class="inner">
                                    <img src="{% static 'images/home/screen_light_2.png' %}" alt="">
                                </span>
                            </span>
                        </div>
                        <div>
                            <span class="outer">
                                <span class="inner">
                                    <img src="{% static 'images/home/screen_light_3.png' %}" alt="">
                                </span>
                            </span>
                        </div>
                    </div> <!-- #features > section.wrapper > div.right -->
                </section> <!-- #features > section.wrapper -->
                </li>
                <li class='dark-mode'>
                    <section class="wrapper">
                        <img src="{% static 'images/home/shape.svg' %}" class='shape' alt="shape">
                        <div class="left">
                            <img src="{% static 'images/home/lightmode.png' %}" class='light' alt="lightmode">
                            <img src="{% static 'images/home/darkmode.png' %}" class='dark' alt="darkmode">
                        </div>
                        <div class="right">           
                            <span>EASY SWITCH BETWEEN STYLES</span>
                            <h2>Dark mode</h2>
                            <p>A dark theme that feels easier on the eyes.</p>
                        </div>
                    </section>
                </li>
                <li class='theme'>
                    <section class='wrapper'>
                        <div class='top'>
                            <span>CHOOSE YOUR STYLE</span>
                            <h2>Theme Color</h2>
                            <p>Express your own style with just one click.</p>
                        </div>
                        <div class='bottom'>
                            <img src="{% static 'images/home/theme-color/screen-default.png' %}" class='screen-default' alt='screen-default'>
                            <img src="{% static 'images/home/theme-color/block1-default.png' %}" class="block1" alt='block'>
                            <img src="{% static 'images/home/theme-color/block2-default.png' %}" class="block2" alt='block'>
                            <img src="{% static 'images/home/theme-color/sidebar-default.png' %}" class="sidebar" alt='sidebar'>
                            <div class="colours">
                                <span class="green" style="background-color: rgb(0 171 85)"></span>
                                <span class="purple" style="background-color:rgb(118, 53, 220)"></span>
                                <span class="cyan" style="background-color: rgb(28, 202, 255)"></span>
                                <span class="blue" style="background-color: rgb(32, 101, 209)"></span>
                                <span class="orange" style="background-color: rgb(253, 169, 45)"></span>
                                <span class="red" style="background-color: rgb(255, 48, 48)"></span>
                            </div>
                        </div>
                    </section>
                </li>
                <li class="user-interface">
                    <section class="wrapper">
                        <div class="content">
                            <span>CLEAN & CLEAR</span>
                            <h2>Beautiful, modern and <br/>clean user interfaces</h2>
                        </div>
                        <div class="image-container">
                            <img src="{% static 'images/home/clean-1.png' %}" alt="" class="one">
                            <img src="{% static 'images/home/clean-2.png' %}" alt="" class="two">
                            <img src="{% static 'images/home/clean-3.png' %}" alt="" class="three">
                            <img src="{% static 'images/home/clean-4.png' %}" alt="" class="four">
                            <img src="{% static 'images/home/clean-5.png' %}" alt="" class="five">
                            <img src="{% static 'images/home/clean-6.png' %}" alt="" class="six">
                            <img src="{% static 'images/home/clean-7.png' %}" alt="" class="seven">
                            <img src="{% static 'images/home/clean-8.png' %}" alt="" class="eight">
                            <img src="{% static 'images/home/clean-9.png' %}" alt="" class="nine">
                            <img src="{% static 'images/home/clean-10.png' %}" alt="" class="ten">
                        </div>
                    </section>
                </li>
            </ul>        
    </section> <!-- #features -->

    <section id="price">
        <section class="wrapper">
            <div class="top">
                <span>PRICING PLANS</span>
                <h2>The right plan for your business</h2>
                <p>Choose the perfect plan for your needs. Always flexible to grow</p>
            </div> <!-- #price >div.top -->
            <div class="bottom">
                <ul>
                    {% for price in prices %}
                    <li>
                        <span>{{price.label}}</span>
                        <h3>{{price.title}}</h3>
                        {% if price.title == 'Standard' %}
                            <img src="{% static 'images/home/ic_js.svg' %}" alt="">
                        {% endif %}
                        {% if price.title == 'Standard Plus' or price.title == 'Extended' %}
                            <img src="{% static 'images/home/ic_sketch.svg' %}" alt="">
                            <img src="{% static 'images/home/ic_figma.svg' %}" alt="">
                            <img src="{% static 'images/home/ic_js.svg' %}" alt="">
                            <img src="{% static 'images/home/ic_ts.svg' %}" alt="">
                        {% endif %}
                        
                        <div>                           
                            <p class="{% if price.one_end_products %} active {% endif %}">
                                <i class="fa fa-check"></i>One end products</p>
                            <p class="{% if price.twelve_months_updates %} active {% endif %}">
                                <i class="fa fa-check"></i>12 months updates</p>
                            <p class="{% if price.six_months_of_support %} active {% endif %}">
                                <i class="fa fa-check"></i>6 months of support</p>
                            <hr/>
                            <p class="{% if price.javascript_version %} active {% endif %}">
                                <i class="fa fa-check"></i>JavaScript version</p>
                            <p class="{% if price.typescript_version %} active {% endif %}">
                                <i class="fa fa-check"></i>TypeScript version</p>
                            <p class="{% if price.design_resources %} active {% endif %}">
                                <i class="fa fa-check"></i>Design Resources</p>
                            <p class="{% if price.commercial_applications %} active {% endif %}">
                                <i class="fa fa-check"></i>Commercial applications</p>
                        </div>
                        <a href="#" class="learn-more">Learn more<i class="fa fa-angle-right"></i></a>
                        <a href="#" class="button">Choose Plan</a>
                    </li>
                    {% endfor %}
                </ul>
            </div> <!-- #price > div.bottom -->
        </section> <!-- #price > section.wrapper-->
    </section> <!-- #price -->

    <section id="contact">
        <section class="wrapper">
            <h3>Still have questions?</h3>
            <p>Please describe your case to receive the most accurate advice.</p>
            <a href="#" class="button">Contact Us</a>
        </section>
    </section> <!-- #contact -->

    <section id="purchase">
        <section class="wrapper">
            <div class="left">
                <img src="{% static 'images/home/rocket.png' %}" alt="rocket">
            </div>
            <div class="right">
                <h2>Get started with <br/>minimal kit today</h2>
                <a href="#" class="button">Purchase Now</a>
            </div>           
        </section>
    </section> <!-- #purchase -->

    <section id="footer">
        <img src="{% static 'images/favicon/favicon-32x32.png' %}" alt="logo">
        <p>&copy All rights reserved</p>
        <p>made by <span>minimals.cc</span></p>
    </section>
</body>
</html>